version: '3.5'
services:
  angular-meat-app:
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    container_name: angular-meat-app
    ports:
      - 4200:4200
    volumes:
      - type: bind
        source: ./
        target: /app
      - /app/node_modules